@use '../abstracts/variables' as colors;
@use '../abstracts/mixins';

.form {
  &__group {
    @include mixins.flex-column;
    gap: colors.$spacing-sm;
  }

  &__label {
    font-weight: 500;
    color: colors.$hh-text;
  }

  &__input,
  &__textarea,
  &__select {
    padding: 12px;
    border: 1px solid colors.$hh-gray;
    border-radius: colors.$border-radius-sm;
    font-family: inherit;
    font-size: 14px;

    &:focus {
      outline: none;
      border-color: colors.$hh-red;
    }
  }

  &__textarea {
    resize: vertical;
    min-height: 80px;
  }
}